body {
	font-family: "Courier New", Courier, monospace;
	color: #373a3c;
}

.container {
	max-width: 1000px;
	margin: auto;
}

a {
	color: #373a3c;
	transition: color 0.3s;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #000;
}

.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header h1 a {
	font-size: 60px;
	font-weight: bold;
}

.site-header nav a {
	margin: 0 10px;
	font-weight: bold;
}

.post-listing {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
}

.post-listing img {
	width: 100%;
	margin-bottom: 16px;
}

.post-title {
	margin: 0;
}
.category-listing {
	display: flex;
	margin-bottom: 8px;
}

.category-listing a {
	font-size: 14px;
}

.category-listing a + a {
	margin-left: 8px;
}

.post-listing-first-large div:first-child {
	grid-column: 1 / 3;
}
