body {
	font-family: "Courier New", Courier, monospace;
}

.container {
	max-width: 1000px;
	margin: auto;
}

.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header nav a {
	color: #000;
	text-decoration: none;
	margin: 0 10px;
	font-weight: bold;
}

.site-header nav a:hover,
.site-header nav a:focus {
	text-decoration: underline;
}
