body {
	font-family: "Courier New", Courier, monospace;
}

.container {
	max-width: 1000px;
	margin: auto;
}

.site-header {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.site-header h1 a {
	font-size: 60px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.site-header h1 a:hover,
.site-header h1 a:focus {
	text-decoration: underline;
}

.site-header nav a {
	color: #000;
	text-decoration: none;
	margin: 0 10px;
	font-weight: bold;
}

.site-header nav a:hover,
.site-header nav a:focus {
	text-decoration: underline;
}

.post-listing {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
}

.post-listing img {
	width: 100%;
}

.post-listing-first-large div:first-child {
	grid-column: 1 / 3;
}
